@font-face {
  font-family: 'Roboto Condensed';  font-style: normal;  font-weight: normal;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("fonts/Roboto-Condensed.woff") format('woff');
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("fonts/RobotoCondensed-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed Bold';  font-style: normal;
  font-weight: normal;  src: local('Roboto Condensed Bold'), url("fonts/Roboto-Condensed.woff") format('woff');
  src: local('Roboto Condensed Bold'), url("fonts/RobotoCondensed-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Icie Simplifica';  font-style: normal;
  src: local('Icie Simplifica'), url("fonts/icie-simplifica.ttf") format('truetype');
}
@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=3.2.1');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),url('../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');font-weight:normal;font-style:normal;}
a{text-decoration:none;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;}
body{color:#000;text-rendering: geometricPrecision;background:#fff;background-size:cover;line-height:1.625;font-family:Arial;font-size:13px;}
.col-dl-1,.col-dl-2,.col-dl-3,.col-dl-4,.col-dl-5,.col-dl-6,.col-dl-7,.col-dl-8,.col-dl-9,.col-dl-10,.col-dl-11,.col-dl-12{padding-left:15px;padding-right:15px;min-height:1px;}
.col-dls-1,.col-dls-2,.col-dls-3,.col-dls-4,.col-dls-5,.col-dls-6,.col-dls-7,.col-dls-8,.col-dls-9,.col-dls-10,.col-dls-11,.col-dls-12{padding-left:15px;padding-right:15px;min-height:1px;}
.navbar-brand{padding:0;}
.dropdown_menu{height:50px;background:#146eba;margin-left:-15px;margin-right:-15px;padding-left:15px;padding-right:15px;}
.dropdown-toggle {position: relative;float: right;padding: 6px;margin-top: 11px;margin-bottom: 8px;background:#ed1c24;border: 1px solid transparent; border-radius: 4px;}
.dropdown-toggle .icon-bar{background: #fff;display: block;width: 22px;height: 2px;border-radius: 1px;}
.dropdown-toggle .icon-bar+.icon-bar {margin-top: 4px;}
.dropdown-menu{width:100%;border-radius:0;margin:0;background:#19609e;border:none;background:#19609e;padding:1px 0;max-height:250px;overflow:auto;}
.dropdown-menu > li{border-bottom:1px solid #13548d;}.dropdown-menu > li:last-child{border-bottom:none;}
.dropdown-menu > li > a{padding:10px 15px;color:#fff;}
.dropdown-submenu .dropdown-menu{position:relative;background:#fcfcfc;box-shadow:none;border-left:none;border-right:none;}
.dropdown-submenu .dropdown-menu{background:#4390c5 !important;padding-top:0;}.dropdown-submenu .dropdown-menu li a{color:#13548d;}
.dropdown-submenu .dropdown-menu li{border-bottom:1px solid #cdcece;}.dropdown-submenu .dropdown-menu li a{color:#fff;font-size:13px;}
.dropdown-submenu .dropdown-menu li a:hover,.dropdown-submenu .dropdown-menu li a:focus{background:#9ccefb;color:#fff;}li.dropdown-submenu{position:relative;}
.dropdown-submenu span.ico{cursor:pointer;width:15px;height:15px;top:13px;right:15px;background:url(../images/icon-4.png) no-repeat left top;display:block;position:absolute;}
.dropdown-submenu:hover span.ico,.dropdown-submenu:focus span.ico{background-position:left bottom;}.dropmenu{display:none;}
.navfixed{position: fixed;top: 0;left: 0;width: 100%;z-index: 9999;padding: 0 15px;-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.4);-moz-box-shadow:0px 3px 5px 0px rgba(50, 50, 50, 0.4);box-shadow:0px 3px 5px 0px rgba(50, 50, 50, 0.4);}
.navbar-brand>img{height:100%;}
.navmenu{
	height:41px;font-weight:bold;padding:0 10px;line-height:35px;
	background:url(../images/bg-nav.png) repeat-x top;padding-top:5px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.4);-moz-box-shadow:0px 5px 5px 0px rgba(50, 50, 50, 0.4);box-shadow:0px 5px 5px 0px rgba(50, 50, 50, 0.4);
}
.navmenu ul{padding:0;float:left;margin:0;}
.navmenu li{float:left;margin-right:1px;width:auto;position:relative;list-style:none;}
.navmenu li a{display:block;text-transform:uppercase;font-size:13px;color:#fff;}
.navmenu li .spanleft,.navmenu li .spanright{float:left;display:block;height:41px;width:26px;display:inline;}
.navmenu li.active .spanleft{background:url(../images/spannav-beside.png) no-repeat left;}
.navmenu li.active .spanright{background:url(../images/spannav-beside.png) no-repeat right;}
.navmenu li .spancenter{float:left;display:block;height:41px;width:auto;}
.navmenu li.active .spancenter{background:url(../images/spannav-center.gif) repeat-x;}
.navmenu li:hover a{color:#fbc637;}
.navmenu li.active:hover a{color:#fff;}
.navmenu li ul{
	position:absolute;width:165px;padding:2px 15px 15px 15px;z-index:99999;display:none;left:0;
	background:url(../images/bgulsub.png) repeat-x top #085faf;top:36px;border-radius:0 0 5px 5px;
}
.navmenu li ul li{padding:5px 0;padding-bottom:7px;line-height:19px;background:url(../images/line-h.gif) repeat-x bottom;float:none;}
.navmenu li:hover ul li a{text-transform:none;font-size:12px;color:#fff;}
.navmenu li:hover ul li:hover a{color:#fbc637;}
.navmenu li:hover ul{display:block;}
#goTop{bottom: 30px;cursor: pointer;display: none;z-index: 1000;height: 32px;position: fixed;right: 15px;width: 32px;opacity:0.8;}#goTop:hover{opacity:1;}
.banner{height:225px;position:relative;background:url(../images/banner.jpg) no-repeat top center;}.banner a.logo{width:330px;height:50px;position:absolute;top:35px;left:20px;background:url(../images/logo.png) no-repeat top left;text-indent:-99999px;}.hotline{padding:5px 15px 3px 15px;font-size:13px;color:#fff;border-radius:0 0 7px 7px;position:absolute;top:0;right:15px;background:#146eba;font-family:Arial;font-weight:bold;line-height:22px;}.hotline span{font-size:20px;font-family:"Times New Roman", Times, serif;}
.txtSearch{height:33px;line-height:33px;padding:0 35px 0 15px;width:194px;border:none;color:#7780f5;background:url(../images/bg-search.png) no-repeat center;float:right;font-weight:normal;}
.slideshow-span{position:absolute;height:10px;left:0;bottom:-20px;width:100%;background:url(../images/spanslide.png) no-repeat top center;display:none;}body.home .slideshow-span{display:block;}
h2.title{font-size:16px;text-transform:uppercase;color:#0666c4;font-family:Tahoma;margin:0;margin-bottom:15px;line-height:22px;font-weight:bold;border-bottom:1px solid #dfdfdf}
.product{float:left;width:25%;padding-left:10px;padding-right:10px;font-size:12px;color:#888;margin-bottom:15px;}.product-img{height:160px;overflow:hidden;border:1px solid #cfcfcf;text-align:center;margin-bottom:10px;-webkit-transition:border 0.3s ease;-moz-transition:border 0.3s ease;-o-transition:border 0.3s ease;}.product-img:hover{border:1px solid #146eba;}.product-img img{height:100%;}a.product-name{display:block;font-size:13px;font-weight:bold;line-height:20px;overflow:hidden;height:20px;color:#000;text-decoration:none;margin-bottom:5px;}a.product-name:hover{color:#ef9d38;}p.product-short{height:38px;line-height:19px;overflow:hidden;}
.news{line-height:19px;color:#696969;margin-bottom:15px;}
.news_img{float:left;width:230px;margin-right:10px;text-align:center;overflow:hidden;border:1px solid #cfcfcf;height:160px;padding:4px;background:#fff;}.news_img:hover{opacity:0.8;}
.news_img a{display:block;height:100%;overflow:hidden;}
.news_img img{width:100%;min-height:100%;}
.news_date{margin-bottom:8px;line-height:19px;font-size:12px;font-weight:normal;color:#777;font-style:italic;padding-left:20px;background:url(../images/icon-9.png) no-repeat left center;margin-left:240px;}
.news_name{margin:0;margin-bottom:5px;font-size:17px;line-height:20px;color:#000;font-weight:bold;font-family: "Times New Roman", Times, serif;}.news.begin .news_name{font-size:18px;}
.news_name a{color:#000;text-decoration:none;}.news_name a:hover{color:#0072bc;}
.pagination{padding:5px 10px;margin:20px 0 0 0;clear:left;font-family: 'Roboto Condensed';font-size:15px;display:block;}
.pagination a{color:#000;padding:2px 8px;background:#fff;text-decoration:none;border-radius:3px;border:1px solid #dfdfdf;}
.pagination span,.pagination a:hover {padding:2px 8px;background:#1768b3;color:#fff;border-radius:3px;border:1px solid #1768b3;}
.related-news{margin:0;font-size:13px;padding:0;}.related-news li{list-style:none;margin-bottom:3px;line-height:20px;background:url(../images/icon-1.png) no-repeat left top;padding-left:10px;color:#777;}.related-news li:last-child{margin-bottom:0;}.related-news li a{color: #888;margin-right:5px;text-decoration:none;font-size:13px;}.related-news li a:hover{color:#000;}
.footer{
background: #1e5799;margin-top:15px;padding-bottom:10px;color:#fff;
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%, #207cca 101%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#2989d8), color-stop(100%,#207cca), color-stop(100%,#7db9e8), color-stop(101%,#207cca)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%,#207cca 101%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%,#207cca 101%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%,#207cca 101%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%,#207cca 101%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
}
.footer-menu{background:#015fb2;height:38px;line-height:38px;color:#fff;text-align:center;margin-bottom:15px;-webkit-box-shadow: 0 10px 6px -6px #014785;-moz-box-shadow: 0 10px 6px -6px #014785;box-shadow: 0 10px 6px -6px #014785;}.footer .footer-menu a{color:#fff;margin:0 10px;display:inline-block;}
.footer .footer_counter{padding:6px 15px;float:right;border-radius:10px;overflow:hidden;background:url(../images/bg-counter.png) repeat-x;color:#343434;width:179px;height:72px;}.footer .footer_counter ul{padding:0;}.footer .footer_counter li{line-height:20px;list-style:none;}.footer .footer_counter li span{color:#F00;}.footer a{color:#fff;}
div.bubblechat
{
	width:175px;padding:10px;position:fixed;border-radius:7px 7px 0 0;	bottom:-0;line:height:23px;	right:5px;color:#fff;
	background-color:#BB125E;-moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.75);	-webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.75);
	-o-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.75);	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.75);	z-index:99;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#fe4095), to(#BB125E));
	background-image:-webkit-linear-gradient(top, #fe4095, #BB125E);
	background-image:-moz-linear-gradient(top, #fe4095, #BB125E);
	background-image:-ms-linear-gradient(top, #fe4095, #BB125E);
	background-image:-o-linear-gradient(top, #fe4095, #BB125E);
	background-image:linear-gradient(top, #fe4095, #BB125E);
	text-shadow: 0px 1px 2px #333;
	opacity:0.95;
	filter:alpha(opacity=95);
}
div.bubblechat ul{padding:0;margin:0;font-size:12px;}div.bubblechat ul li{list-style:none;}
div.bubblechat p{color:#fff}h2.post-title{font-family:'Icie Simplifica';margin:0;margin-bottom:15px;}
.footer-info h1{font-size:14px;text-transform:uppercase;margin:0;font-weight:bold;}
body.home .news{margin-bottom:0;}.detail-news img{max-width:100%;}
.contactl img{float:left;margin-top:10px;}
.info_contact{margin-bottom:20px;font-size:13px;padding:10px;border:1px solid #B2DCEB;background:#F0FBFF;}
.info_contact p{padding:0;margin:0;}
.info_contact h3{text-transform:uppercase;color:#f00;font-family: 'Roboto Condensed';font-weight:normal;font-size:18px;}
.info_contact h1{font-weight:normal;color:#c51a1d;font-family: 'Roboto Condensed';font-size:20px;margin:0;}
.info_contact table{border: 1px solid #ccc;}
.lblContact{height:25px;line-height:25px;margin:0;padding-right:5px;float:left;width:100%;font-weight:normal;}
label.error{margin-left:5px;color:#F00;font-weight:normal;line-height:25px;float:left;height:25px;margin-top:7px;}
.lblContact font{color:#f00;}.lblContact span{color:#f00;}
.txtContact{
	width:100%;color:#666;margin-bottom:12px;padding:0 5px;height:27px;line-height:27px;background:#fff;
	border-width: 1px;border-style: solid; border-top-color: rgb(192, 192, 192);float:left;
	border-right-color: rgb(233, 233, 233); border-bottom-color: rgb(233, 233, 233);
	border-left-color: rgb(192, 192, 192); border-radius: 2px;outline: 0;float:left;
}
.txtContact.error{border:1px dotted #f00;}
.txtContact.txtCode{width:80px;margin-right:5px;}
.areaContact{
	width:100%;height:130px;margin-bottom:12px;
	padding: 5px;color:#666;overflow:auto;background:#fff;float:left;
	border-width: 1px;border-style: solid; border-top-color: rgb(192, 192, 192);
	border-right-color: rgb(233, 233, 233); border-bottom-color: rgb(233, 233, 233);
	border-left-color: rgb(192, 192, 192); border-radius: 2px;outline: 0;float:left;
}
#txtCode-error{margin-left:0;display:none !important;}
.txtContact.error,.areaContact.error{border:1px dotted #f00;}
.btnContact{
	float:left;padding:7px 35px;border:none;font-weight:bold;border:none;
	background: #2968b0;cursor:pointer;margin-top:10px;
	color:#fff;margin-right:10px;margin-left:0;text-transform:uppercase;
}
.btnContact:hover{background:#3c81cf;}.contact img{float:left;margin-left:5px;margin-top:11px;}
.info_contact{margin-bottom:20px;font-size:15px;padding:10px;border:1px solid #B2DCEB;background:#F0FBFF;}
.info_contact p{padding:0;margin:0;}
.info_contact h3{text-transform:uppercase;color:#f00;font-family: 'Roboto Condensed';font-weight:normal;font-size:18px;}
.info_contact h1{font-weight:normal;color:#c51a1d;font-family: 'Roboto Condensed';font-size:20px;}
.info_contact table{border: 1px solid #ccc;}.col-contact{float:left;width:50%;padding-left:15px;padding-right:15px;}
h3.title-other{font-size:23px;text-transform:uppercase;color: #2686c6;line-height:23px;font-weight: normal;font-family: 'Roboto Condensed';padding-top: 5px;border-top: 1px solid #cfcfcf;margin-top:25px;margin-bottom:15px;}
.title-other span {display: inline-block;border-bottom: 2px solid #024484;white-space: nowrap;line-height: 27px;text-transform: uppercase;font-size: 19px;}.product.ends{display:none;}
.content_right{background:#f6f6f6;border:1px solid #d0d0d0;border-radius:5px;padding:5px;padding-bottom:15px;}
.content_right h3.titleright{
	height:37px;line-height:37px;border-radius:5px;font-size:15px;color:#fff;text-transform:uppercase;font-family:Tahoma;
	text-align:center;background:url(../images/bgtitle-right.gif) repeat-x;position:relative;margin:0;margin-bottom:12px;
}
.content_right h3.titleright span{position:absolute;top:37px;background:url(../images/spantitle-right.png) no-repeat top center;width:100%;height:11px;left:0;}
h2.namedesign{line-height:23px;padding-bottom:15px;font-size:20px;color:#000;padding-top:8px;font-family:"Times New Roman", Times, serif;margin:0}
.share{margin-bottom:15px;line-height:24px;font-size:13px;color:#777;}.share-buttons{padding:0;margin:0;}.share-buttons li{margin-right:4px;list-style:none;float:left;height:20px;margin-right:5px;}.share-buttons li iframe{margin:0;}.fb_iframe_widget span{display:block !important;}.share-buttons li.pinterest img{vertical-align:baseline;}
@media (min-width: 1200px){}
@media (min-width: 992px){
.col-dl-1,.col-dl-2,.col-dl-3,.col-dl-4,.col-dl-5,.col-dl-6,.col-dl-7,.col-dl-8,.col-dl-9,.col-dl-10,.col-dl-11,.col-dl-12{float:left;}
.col-dl-12{width:100%}.col-dl-11{width:91.66666667%}.col-dl-10{width:83.33333333%}.col-dl-9{width:75%}.col-dl-8{width:66.66666667%}.col-dl-7{width:58.33333333%}.col-dl-6{width:50%}.col-dl-5{width:41.66666667%}.col-dl-4{width:33.33333333%}.col-dl-3{width:25%}.col-dl-2{width:16.66666667%}.col-dl-1{width:8.33333333%}
body{background:#f5f5f5;}.main-container{width:980px;border-top: 3px solid #0b63b2;padding:0;background:#fff;-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.65);-moz-box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.65);box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.65);}
.slideshow{margin:10px;border-radius:5px;position:relative;border: 1px solid #dbd8cc;}body.home .slideshow{border:10px solid #f5f5f5;}
.content{padding:10px;padding-top:0;margin-top:0;}
h2.title{background:url(../images/bg-title1.jpg) repeat-x top;border-radius:10px 0 0 10px;margin-right:110px;height:42px;line-height:45px;padding:0 10px;border-bottom:none;border-left:1px solid #cfcfcf;}h2.title::after{float:right;height:42px;width:110px;margin-right:-120px;content:'';background:url(../images/bg-title.jpg) no-repeat left top;}.row-product{margin-left:-10px;margin-right:-10px;}
.col-screen{padding-left:10px;padding-right:10px;}.content_right .product{float:none;width:100%;}.content_right .product-img{height:130px;}
}
@media (min-width: 768px) and (max-width: 991px){
	.container{width:100% !important;}
	.navbar-right{margin-right:0;}
	.nav>li>a{padding-left:5px;padding-right:5px;font-weight:bold;font-size:12px;color:#000;background:none;}
	.nav>li>a.active{color:#931e15;}
}
@media (max-width: 991px){
	.navmenu,.slideshow-span,.footer-menu,.footer .footer_counter,.content_right{display:none;}.dropmenu,.breadcrumb{display:block;}
	body{background:#fff;padding-top:50px;}.navbar-brand>img{height:100%;}.footer-info{padding-top:15px;}
	.navfixed .dropdown-menu{border:none;background:#19609e;padding:1px 0;}body.home .news{margin-bottom:15px;}
	.navfixed .txtSearch{height:28px;line-height:28px;}.navfixed .btnSearch{top:7px;}.product.ends{display:block;}
	.banner{display:none;}.main-container{padding-top:10px;}.slideshow{margin-left:-15px;margin-right:-15px;margin-bottom:10px;margin-top:-9px;}
	.product{padding-left:15px;padding-right:15px;}.col-screen{clear:both;}.footer{margin-left:-15px;margin-right:-15px;}
.related-news li a{font-size:17px;}
}
@media (max-width: 767px){
	.collapse{background:#931e15;}.collapse .navbar-nav{margin-top:0;margin-bottom:0;}.collapse .navbar-nav>li{border-bottom:1px solid #881c13;}.collapse .navbar-nav>li>a{font-weight:bold;font-size:13px;color:#fff;}.collapse .nav>li>a:hover,.collapse .nav>li>a:focus,.collapse .nav>li>a.active{background-color: #eee;color:#931e15;}
	.product{width:33.33333%;}.news_img{float:left;width:45%;margin-right:10px;height:auto;}.news_img img{max-height:none;min-height: inherit;}
}
@media (max-width: 600px){.product{width:50%;}.product-img{height:190px;}}
@media (max-width: 480px){
	.product{width:100%;float:none;}.product-img{height:auto;}.product-img img{height:auto;width:100%;}
	.col-contact{float:none;width:100%;margin-bottom:20px;}
}
@media (min-width: 768px){
.col-dls-1,.col-dls-2,.col-dls-3,.col-dls-4,.col-dls-5,.col-dls-6,.col-dls-7,.col-dls-8,.col-dls-9,.col-dls-10,.col-dls-11,.col-dls-12{float:left;}.col-dls-12{width:100%}.col-dls-11{width:91.66666667%}.col-dls-10{width:83.33333333%}.col-dls-9{width:75%}.col-dls-8{width:66.66666667%}.col-dls-7{width:58.33333333%}.col-dls-6{width:50%}.col-dls-5{width:41.66666667%}.col-dls-4{width:33.33333333%}.col-dls-3{width:25%}.col-dls-2{width:16.66666667%}.col-dls-1{width:8.33333333%}
}